{% extends 'admin/base.html.twig' %}

{% block title %}Nouvel utilisateur{% endblock %}

{% block body %}
    <h1>Créer un nouvel utilisateur</h1>

    {{ include('admin/user/_form.html.twig') }}

    <div class="btn-group">
        <div>
            <button class="btn btn-outline-info">{{ button_label|default('Enregistrer') }}</button>
        </div>

        <div>
            <a href="{{ path('admin_user_list') }}" class="btn btn-outline-info">Retour à la liste</a>
        </div>


    </div>



{% endblock %}
