{{ form_start(form) }}
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Suites
    </div>
    <div class="card-body">
        {{ form_widget(form) }}
         <button class="btn">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
