{% extends 'manager/base.html.twig' %}

{% block title %}Nouvelle suite{% endblock %}

{% block body %}
    <h1>Créer une nouvelle suite</h1>

    {{ include('manager/suites/_form.html.twig') }}

    <button class="btn btn-outline-info">
        <a href="{{ path('manager_establishments_list') }}">Retour à la liste</a>
    </button>

{% endblock %}
