{% extends 'manager/base.html.twig' %}

{% block title %}New Suites{% endblock %}

{% block main %}
    <h1>Create new Suites</h1>

    {{ include('manager/suites/_form.html.twig') }}

    <a href="{{ path('suites_list') }}">back to list</a>
{% endblock %}
