{% extends 'base.html.twig' %}

{% block title %}Edit Suites{% endblock %}

{% block body %}
    <h1>Edit Suites</h1>

    {{ include('suites/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_suites_index') }}">back to list</a>

    {{ include('suites/_delete_form.html.twig') }}
{% endblock %}
