{% extends 'base.html.twig' %}

{% block title %}New Suites{% endblock %}

{% block body %}
    <h1>Create new Suites</h1>

    {{ include('suites/_form.html.twig') }}

    <a href="{{ path('app_suites_index') }}">back to list</a>
{% endblock %}
