{% extends 'admin/base.html.twig' %}

{% block title %}Nouveau établissement{% endblock %}

{% block body %}
    <h1>Créer un nouvel établissement</h1>

    {{ include('admin/establishments/_form.html.twig') }}

    <button class="btn btn-info">
        <a href="{{ path('establishments_list') }}">Retour à la liste</a>
    </button>

{% endblock %}
