{% extends 'base.html.twig' %}

{% block title %}New Establishments{% endblock %}

{% block body %}
    <h1>Create new Establishments</h1>

    {{ include('admin/establishments/_form.html.twig') }}

    <a href="{{ path('establishments_list') }}">back to list</a>
{% endblock %}
