<form method="post" action="{{ path('reservations_list_delete', {'id': reservation.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reservation.id) }}">
    <button type="submit" class="btn btn-sm btn-primary rounded py-2 px-4">Supprimer</button>
</form>
