{% extends 'base.html.twig' %}

{% block title %} Réservations {% endblock %}

{% block body %}

    <!-- Booking Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center">
                <h6 class="section-title text-center text-primary text-uppercase">Regarder nos établissements</h6>
                <h1 class="mb-5">Réservez une <span class="text-primary text-uppercase">Luxieuse suite</span></h1>
            </div>

            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                {{ include('reservations/_form.html.twig') }}
             {% else %}
                 <div class="small"><a href="{{ path('app_register') }}">Pas de compte? Incrivez-vous</a></div>
            {% endif %}


        </div>
    </div>
    <!-- Booking End -->



{% endblock %}

{% block script %}
    <script>




    </script>


{% endblock %}