
{%  block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/style.css')}}">
<link rel="stylesheet" href={{ asset('css/bootstrap.min.css') }} >
{% endblock %}

<div class="container-xxl py-5">
    <div class="container">

        <div class="row g-4">
            <div class="col-lg-12 col-md-6">
                <div class="room-item shadow rounded overflow-hidden">
                    <div class="position-relative">
                        <small class=" start-0 top-100 translate-middle-y bg-primary text-white rounded py-1 px-3 ms-4">120€/nuit</small>
                    </div>
                    <div class="p-4 mt-2">
                        <div class="d-flex justify-content-between mb-3">
                            <h5 class="mb-0">{{ suite.title }}</h5>
                            <div class="ps-2">
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                            </div>
                        </div>
                        <div class="d-flex mb-3">
                            <small class="border-end me-3 pe-3"><i class="fa fa-hotel text-primary me-2"></i>Disponibles</small>
                            <small class="border-end me-3 pe-3"><i class="fa fa-spa text-primary me-2"></i>Spa</small>
                            <small><i class="fa fa-wifi text-primary me-2"></i>Wifi</small>
                        </div>
                        <p class="text-body mb-3">{{ suite.description }}</p>
                        <div class="d-flex justify-content-between">
                            <a class="btn btn-sm btn-primary rounded py-2 px-4" href="">Plus de détail</a>
                            <a class="btn btn-sm btn-dark rounded py-2 px-4" href="">réserver maintenant</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
